@import 'variables.scss';

@media screen and(min-width:768){


    //
    //.customer-img,.img-related {
    //    margin-bottom: 30px;
    //}
    //
    //
    //
    //#sideBar{
    //    position:fixed;
    //    width:80%;
    //    left:-110%;
    //    top:0;
    //    z-index: 101;
    //    -webkit-transition: all 0.2s ease;
    //    -moz-transition: all 0.2s ease;
    //    -o-transition: all 0.2s ease;
    //    -ms-transition: all 0.2s ease;
    //    transition: all 0.2s ease;
    //}
    //
    //
    //#sideBar.in{
    //    left:0;
    //}
    //
    //
    //#sideBar>.toggle-btn{
    //    display: block;
    //}
    //
    //
    //
    //.sub-menu{
    //    width:100%;
    //    height:40px;
    //    position:fixed;
    //    top:40px;
    //    left:0;
    //    background:#fff;
    //    border-bottom:1px solid darken(#ddd, 10%);
    //    -webkit-box-shadow: 6px 5px 5px -10px rgba(0,0,0,0.72);
    //    -moz-box-shadow: 6px 5px 5px -10px rgba(0,0,0,0.72);
    //    box-shadow: 6px 5px 5px -10px rgba(0,0,0,0.72);
    //    z-index:18;
    //    >.sidebar-toggle{
    //        width:30px;
    //        height: 30px;
    //        border-radius: 30px;
    //        display:block;
    //        position: relative;
    //        top:5px;
    //        left:10px;
    //        text-align: center;
    //        &:hover{background:$nav-bg;>a{color:$text-grey;}}
    //        >a{position: relative;top: 4px;left:1px;color:$nav-bg;}
    //    }
    //
    //
    //}
}